aiocache==0.12.2
aiohttp==3.9.3
aiosignal==1.3.1
APScheduler==3.10.4
attrs==23.2.0
beautifulsoup4==4.12.3
certifi==2024.2.2
charset-normalizer==3.3.2
discord.py==2.3.2
dnspython==2.5.0
emoji-country-flag==1.3.2
expiringdict==1.2.2
fold-to-ascii==1.0.2.post1
frozenlist==1.4.1
humanize==4.9.0
idna==3.6
mongoengine==0.27.0
multidict==6.0.5
pillow==10.2.0
psutil==5.9.8
pymongo==4.6.1
python-dotenv==1.0.1
pytimeparse==1.1.8
pytz==2024.1
redis==5.0.1
requests==2.31.0
six==1.16.0
soupsieve==2.5
spotipy==2.23.0
tzlocal==5.2
urllib3==2.2.0
yarl==1.9.4
